html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* Header */
#header{
    background-color: #333;
    color: #fff;
    font-family:monospace;
}


.navbar{
    height: 64px;
}

.navbar-brand{
    margin-left: 90px;
}


.shop-car{
    width: 140px;
}

.shop-car i{
    width: 50px;
    height: 40px;
    line-height: 40px;
    
    border-radius: 10px;
    text-align: center;
    color: #ffa00f;
    font-size: 40px;
}

.shop-car h5{
    width: 200px;
    height: 40px;
    line-height: 45px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header-search{
    height: 40px;
    width: 300px;
    border-radius: 15px;
}

.div-header-search{
    margin-right: 20px;
}

/* content */
.content{
	min-height:calc(100% - 371.8px);
}

/* Footer */
#footer{
    background-color: #3334;
}

.footer2{
    padding-left: 0px;
    padding-right: 0px;
}


.footer2 .container-xl .areas .col{
    padding-left: 0px;
    padding-right: 0px;   
}

.footer2 .container-xl .areas ul,li{
    text-align: center;
    
}

.footer2 .container-xl .areas .col ul{ 
    list-style: none;
    max-width: 400px;
    min-width: 247px;

}

.footer2 .container-xl .areas{
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    
}.footer2 .container-xl .social{
    border-top: solid 1px #3336;
    padding: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.footer2 .container-xl:hover{
    color: #999;
    transition: .3s;
}

.footer2 .text {
    width: 50px;
    height:50px;
    text-align: center;
    line-height: 50px;
}

.footer2 .icons i{
    width: 40px;
    height:40px;
    margin: 5px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;    
}
.copyright{
    background-color: #333;
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}    

.copyright span{
    text-align: center;   
    
}    

.copyright span:hover{
    color: #999;
    transition: .3s;
}

@media (max-width:670px){
    .header-itens,
    #header{
        
        padding: 0px;
        padding: 5px;
    }
    .header-search{
        width: 300px;
    }

    .header-itens .itens{
        max-width: 500px;
        margin-left: 0px;
        padding: 0px;
        justify-content: center;
        align-content: center;
    }


    .navbar-brand,
    .navbar-brand i{
        width: 50px;
        margin: 5px;
        padding: 0px;
    }
}

@media (max-width:600px){
    .header-itens,
    #header{
        height: 120px;
        padding: 0px;
        padding: 5px;
    }
    .header-search{
        width: 300px;
    }

    .header-itens .itens{
        max-width: 300px;
        margin-left: 0px;
        padding: 0px;
        justify-content: space-between;
    }


    .navbar-brand,
    .navbar-brand i{
        width: 50px;
        margin: 5px;
        padding: 0px;
    }
}

@media (max-width:500px){
    .header-itens,
    #header{
        height: 120px;
        padding: 0px;
        padding: 5px;
    }
    .header-search{
        width: 200px;
    }
    

    .header-itens .itens{
        max-width: 400px;
        align-self: flex-start;
        margin: 0px;
        padding: 0px;
    }


    .navbar-brand,
    .navbar-brand i{
        width: 50px;
        margin: 5px;
        padding: 0px;
    }
}